<!DOCTYPE html>
<html
  th:replace="~{layouts/main :: layout(~{::title}, ~{::section})}"
  xmlns:th="http://www.thymeleaf.org"
  lang=""
>
  <head>
    <title>Login</title>
  </head>
  <body>
    <section>
      <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form th:action="@{/login}" method="post">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="username"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
