<!DOCTYPE html>
<html
  th:replace="~{layouts/main :: layout(~{::title}, ~{::section})}"
  xmlns:th="http://www.thymeleaf.org"
  lang=""
>
  <head>
    <title>Registration</title>
  </head>
  <body>
    <section>
      <div class="card">
        <div class="card-header">Registration</div>
        <div class="card-body">
          <form
            class="needs-validation"
            action="#"
            th:action="@{/registration/}"
            th:object="${user}"
            method="post"
          >
            <div class="mb-3">
              <label for="firstName" class="form-label">First name</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                name="firstName"
                th:field="*{firstName}"
                th:errorclass="is-invalid"
              />
              <div
                class="invalid-feedback"
                th:if="${#fields.hasErrors('firstName')}"
                th:errors="*{firstName}"
              ></div>
            </div>
            <div class="mb-3">
              <label for="middleName" class="form-label">Middle name</label>
              <input
                type="text"
                class="form-control"
                id="middleName"
                name="middleName"
                th:field="*{middleName}"
                th:errorclass="is-invalid"
              />
              <div
                class="invalid-feedback"
                th:if="${#fields.hasErrors('middleName')}"
                th:errors="*{middleName}"
              ></div>
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Last name</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                name="lastName"
                th:field="*{lastName}"
                th:errorclass="is-invalid"
              />
              <div
                class="invalid-feedback"
                th:if="${#fields.hasErrors('lastName')}"
                th:errors="*{lastName}"
              ></div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                th:field="*{email}"
                th:errorclass="is-invalid"
              />
              <div
                class="invalid-feedback"
                th:if="${#fields.hasErrors('email')}"
                th:errors="*{email}"
              ></div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                th:errorclass="is-invalid"
                name="password"
                th:field="*{password}"
              />
              <div
                class="invalid-feedback"
                th:if="${#fields.hasErrors('password')}"
                th:errors="*{password}"
              ></div>
            </div>
            <div class="mb-3">
              <label for="passwordConfirmation" class="form-label">
                Password Confirmation
              </label>
              <input
                type="passwordConfirmation"
                class="form-control"
                id="passwordConfirmation"
                name="passwordConfirmation"
                th:field="*{passwordConfirmation}"
                th:errorclass="is-invalid"
              />
              <div
                class="invalid-feedback"
                th:if="${#fields.hasErrors('passwordConfirmation')}"
                th:errors="*{passwordConfirmation}"
              ></div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
