<!DOCTYPE html>
<html th:replace="~{layouts/main :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Create group</title>
</head>
<body>
<section>
    <div class="card">
        <div class="card-header">
            Edit group
        </div>
        <div class="card-body">
            <form action="#"
                  th:action="@{/groups/{id}/(id=${group.getId()})}"
                  th:object="${group}"
                  th:method="put"
            >
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input
                            type="text"
                            class="form-control"
                            id="title"
                            name="title"
                            th:field="*{title}"
                    >
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>