<!DOCTYPE html>
<html th:replace="~{layouts/main :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Create mark for student</title>
</head>
<body>
<section>
    <div class="card">
        <div class="card-header">
            Create mark for student
        </div>
        <div class="card-body">
            <form action="#" th:action="@{/users/{id}/marks/}" th:object="${mark}" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Value</label>
                    <input type="number" min="2" max="5" class="form-control" id="name" name="name" th:field="*{value}">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>