<!DOCTYPE html>
<html th:replace="~{layouts/main :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Groups</title>
</head>
<body>
<section>
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div>
                    <h1>Students</h1>
                </div>
                <div>
                    <a class="btn btn-primary" th:href="@{/groups/{group}/students/create/(group=${group.getId()})}">Create</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>full name</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student: ${studentPage}">
                    <th th:text="${student.getId()}"></th>
                    <td th:text="${student.getFullName()}"></td>
                    <td>
                        <form th:method="delete" th:action="@{/groups/{group}/students/{student}/(group=${group.getId()}, student=${student.getId()})}">
                            <div class="btn btn-group btn-group-sm">
                                <a th:href="@{/groups/{id}/students/{student}/edit(id=${group.getId()}, student=${student.getId()})}"
                                   class="btn btn-primary btn-sm">Edit</a>
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex justify-content-center">
            <div th:insert="components/pagination :: pagination(link='/groups/',
                model=${studentPage},
                pages=${pageNumbers})"
            >
            </div>
        </div>
    </div>
</section>
</body>
</html>